body {
  margin: 0;
  padding: 0;
}

#propagation {
  background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 0;
}

#propagation div {
  position: fixed;
  width: 16px;
  height: 16px;
  background: white;
}