@font-face {
  font-family: 'unscii';
  src: url('fonts/unscii-16.ttf');
}

body {
  margin: 0;
  padding: 0;
}

#propagation {
  background: black;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 0;
}

#propagation img {
  position: fixed;
}

#propagation div {
  position: fixed;
  width: 1px;
  height: 1px;
  background: white;
}